p{
    color: red;
    text-align: center;
    text-align-last: auto;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-decoration-line: overline underline;
    text-indent: 50px;
}

b{
    color: #0000ff;
    text-align: justify;
    
}

q{
    color: rgb(171, 117, 224);
}

img.a { 
    vertical-align: baseline;
    height: 15%;
    width: 15%;

}

img.b {
    vertical-align: text-top;
    height: 15%;
    width: 15%;
}

img.c {
    vertical-align: text-bottom;
    height: 15%;
    width: 15%;
}

img.d {
    vertical-align: sub;
    height: 15%;
    width: 15%;
}

img.e {
    vertical-align: super;
    height: 15%;
    width: 15%;
}

h1 {
    text-decoration-line: overline;
    letter-spacing: 5px;
    text-shadow: 2px 2px red;
}

h2 {
    text-decoration-line: line-through;
    letter-spacing: -2px;

}

h3{
    text-decoration-line: underline;
    text-decoration-color: purple;
    text-decoration-style:dotted;
    text-decoration-thickness:auto;
    text-decoration:double;
}

p.small {
    line-height: 0.8;
}

p.big {
    line-height: 1.8;
    word-spacing: 0.5%;
}

a:link, a:visited {
     background-color: #f44336; 
     color: white;
     padding: 14px 25px; 
     text-align: center; 
     text-decoration: none; 
     display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

ul.a {
    list-style-type: circle;
}

ul.b {
     list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;

}

h1{
    position: static;
}

div.fixed {
     position: fixed;
     bottom: 0; 
     right: 0;
     width: 300px; 
     border: 3px solid #73AD21;
}

div.relative{
    position: relative;
    width: 400px;
    height: 200px; 
    border: 3px solid #73AD21;
}

div.absolute {
     position: absolute;
     top: 80px;
     right: 0; 
     width: 200px; 
     height: 100px;
     border: 3px solid #73AD21;
}

div.sticky {
    position: -webkit-sticky; /* Safari */ 
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50; 
}

.container {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(c.jpeg);
    background-size: cover;
}

.contents{
    background-color: rgba(255, 255, 255, 0.342);
}
  
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
  
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
  
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img .z{
     position: absolute;  
     left: 0px;
     top: 0px;
     z-index: -1;
}

div {
    width: 200px;
    height: 65px; 
    background-color: coral;
    overflow: visible;
}

.overflow{
    overflow: hidden;
}

.flows{
    overflow: scroll;
}

.flowed{
    overflow-x: visible;
}

.overflowed{
    overflow-y: auto;
}